# ===============================
# Maven
target/
*.jar
*.war
*.ear
dependency-reduced-pom.xml
buildNumber.properties
.mvn/
# ===============================
# Logs
*.log
# ===============================
# IDEs
# IntelliJ
.idea/
*.iml
# VSCode
.vscode/
# Eclipse
.project
.classpath
.settings/
# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
# ===============================
# System files
.DS_Store
Thumbs.db
# ===============================
# Docker artifacts
**/docker-compose.override.yml
